/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

/* Margin and padding reset */
* {
    margin: 0;
    padding: 0;
}

/* header style */
header{
    background-color: whitesmoke;    font-family: 'roboto', sans-serif;
    align-items: center;
    margin: 0px 0px 40px 0px;
    padding: 10px 80px 10px 80px;

/* Nav bar style */
}
nav ul{
    list-style-type: none;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

ul li a{
    text-transform: uppercase;
    color: #ff7699;
    text-decoration: none;
}

/* Tittles style */

h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #ff7699;
    background-color:whitesmoke;
    margin: 50px 0px 50px 0px;
    padding: 50px 50px 50px 50px;
}
h2,h3,h4{
    background-color:whitesmoke;
    color: #ff7699;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: 0px 0px 0px 0px;
    padding: 40px 0px 40px 0px;
}

/* Sections style */

section ul li div{
    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    line-height: normal;
    color: blueviolet;
}

/* Text style */

p{
    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    text-align: left;
    line-height: normal;
    color: blueviolet;
}

/* Background color */

body{
    background-color: lightcyan;
}

/* classes */
    /* subtittles class */

    /* image class */
.productimg{
    max-width:25%;
    display: flex;
    justify-content:baseline;
}
    /* footer icon style */
.paymentmethods{
    list-style-type: none;
    display: grid;
    grid-template-columns: 5% 5% 5% 5% 5%;
}

.socials{
    list-style-type: none;
    display: grid;
    grid-template-columns: 5% 5% 5%;
    justify-content:left;
}

/* Grids */

.gridstyle{
    background-color: aliceblue;
    text-decoration: none;
    display: grid;
    grid-template-columns:33.3% 33.3% 33.3%;
}